/**
 * 1.1 - Variables
 * =======================
 * 1.1.1 - Colors
 * 1.1.2 - Fonts
 */


 /**
  * 1.1.1 Colors - Global and Brand
  * -----------------------
  */

/* Default Variable Names
 * @red, @orange, @yellow
 * @green, @blue, @purple
 * @brown, @gray, @black
 *
 * @link
 * @link_hover
 * @brand_primary (only use if different from default color already in use)
 * @brand_secondary (only use if different from default color already in use)
 *
 * VARIATIONS
 * @*_light, @*_dark, @*_transparent
----------------------------- */

@black: #282828;
@white: #fff;

@gray_light: #666;
@grey_dark: #222;


/**
 * 1.1.2 - Font Definitions
 * -----------------------
 */

/* @headline
 * Typeface Name
 * Used on headlines throughout site
----------------------------- */
@headline: " ", "Georgia", serif;

/* @serif
 * Typeface Name
 * For body and other general aplications
----------------------------- */
@serif: " ", "Georgia",serif;


/* @sans
 * Typeface Name
 * For labels, bylines, photo credits, etc
----------------------------- */
@sans:  " ", "Helvetica Neue", "Helvetica",sans-serif;
